/*
IMPORTAÇÃO DE FONTS
*/

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

/*
FORMATAÇÃO GERAL
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

/*
FORMATAÇÃO NO CORPO DO SITE
*/

body {
    background-color: var(--blue3);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 1px;
}

/*
MINHAS VARIÁVEIS
*/

:root {
    --blue1: #0A2647;
    --blue2: #144272;
    --blue3: #205295;
    --blue4: #2C74B3;
    --blue5: #41a6ff;
    --white: #ffffff;
    --black: #000000;
}

/*
FORMATAÇÃO DA NAVBAR
*/

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue2);
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.header ul li a{
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    color: #bcbcbc;
    text-decoration: none;
}

/*
ANIMAÇÃO QUE MUDA A COR DO TEXTO QUANDO PASSAR O MOUSE POR CIMA
*/

.header ul li a:hover{
    transition: 0.3s;
    color: #ffffff;
}

/*
SECTION JOGO
*/

.game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--black);
    margin: auto;
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    flex-grow: 1;
    margin-top: 20px;
}

#character,#monster{
    width: 49%;
}

/*
BARRA DE VIDA
*/

.lifeBar{
    border: 1px dashed #888888;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

#characterLife{
    height: 30px;
    border-radius: 10px;
    background-color: #ff0000;
    transition: 0.7s;
}

#characterLife p {
    color: #ffffff;
    font-weight: bold;
    width: 200px;
    
}

.divBarsFormat{
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.divBarsFormat img{
    margin-left: 5px;
    margin-top: 2px;
}

#monsterLife{
    height: 30px;
    border-radius: 10px;
    background-color: #ff0000;
    transition: 0.7s;
}

#monsterLife p {
    color: #ffffff;
    font-weight: bold;
    width: 200px;
}

/*
BARRA DE MAGIA
*/

.magicBar{
    border: 1px dashed #888888;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#characterMagic{
    height: 30px;
    border-radius: 10px;
    background-color: #0095ff;
}

#monsterMagic{
    height: 30px;
    border-radius: 10px;
    background-color: #ffb300;
}

#characterMagic p{
    color: #ffffff;
    font-weight: bold;
    width: 200px;
}

#monsterMagic p{
    color: #ffffff;
    font-weight: bold;
    width: 200px;
}

/*
BARRA DE FORÇA
*/

#attackBar{
    border: 1px dashed #888888;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#characterAttack{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ffb300;
}

#monsterAttack{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ffb300;
}

/*
BARRA DE DEFESA
*/

#defenseBar{
    border: 1px dashed #888888;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#characterDefense{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #00f7ff;
}

#monsterDefense{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #00f7ff;
}

/*
BOTÕES DE ATACAR
*/

#buttonCharacterAttack{
    margin-top: 10px;
}

/*
SECTION FOOTER
*/

.footer{
    background-color: var(--blue2);
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.footer p{
    color: var(--white)
}

/*
SKILLS
*/

.Skills {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.Skills p {
    color: #ffffff;
    margin: 0px 5px;
    text-align: center;
    font-weight: bold;
}

/*
LEVELS DO JOGO
*/

#levels{
    margin: auto;
    margin-top: 20px;
}

#levels ul {
    display: flex;
    gap: 10px;
}

#levels ul li:last-child{
    padding: 10px 10px !important;
}

#levelsList li{
    list-style: none;
    color: #ffffff;
    background-color: var(--blue5);
    border-radius: 50%;
    padding: 10px 15px;
    text-align: center;
}

.levelsTitle{
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

/*
BOTÃO AVANÇAR - APÓS ESCOLHER O PERSONAGEM
*/

#characterNameBeforeButton{
    width: 30%;
    margin-top: 20px;
    border-radius: 10px;
    border: 0px;
    padding: 10px 10px;
    background-color: var(--blue5);
    color: #dadada;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
    opacity: 1;
}

#characterNameBeforeButton:hover {
    transition: 0.4s;
    background-color: var(--blue4);
    color: #ffffff;
}